.cart-item {
    display: flex;
    gap: 15px; 
    
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    align-items: flex-start; 
}

.cart-item-img {
    width: 100px; 
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.cart-item-details {
    flex-grow: 1; 
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.cart-payment input[type="text"],
.cart-payment input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.payment-row {
    display: flex;
    gap: 20px;
}