body {
    background-image: linear-gradient(to bottom, rgb(97, 97, 177), blue);


}

#root {
    color: black;

}

.topPage {
    display: flex;

    justify-content: space-between;
}

.topLink {
    display: flex;
    gap: 150px;
    color: black;

}

.Loginpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AboutUs {
    border: 5px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align-last: center;
    text-align: center;

}

.contactswith {
    background-image: url("https://cdn.easyfrontend.com/pictures/contact/contact_7.png")
}

.packageimage {
    display: flex;
background-origin:border-box;
    gap: 50px;
    flex-wrap: wrap;
}