* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, rgb(97, 97, 177), blue);

    width: 100%;
    overflow-x: hidden;
}

#root {
    color: black;

}

.topPage {
    display: flex;
    flex-wrap: wrap;
    text-wrap: wrap;
    justify-content: space-between;
}

.topLink {
    display: flex;
    gap: 150px;
    color: black;

}

.Loginpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerpage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AboutUs {
    border: 5px solid whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align-last: center;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(97, 174, 177), #00c4b4);


}

.contactswith {
    background-image: url("https://cdn.easyfrontend.com/pictures/contact/contact_7.png")
}

.packageimage {
    display: flex;
    background-origin: border-box;
    gap: 60px;
    flex-wrap: wrap;
}

.buttonregister {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mb-3 {
    font-size: xx-large;
}

.registerfeild {
    padding-left: 200px;
}

.bottom {
    display: flex;
    justify-content: space-between;
    background-color: seagreen;
    font-size: large;
    margin-bottom: 10px;
    padding-bottom: 50px;
    flex-wrap: wrap;
}

.languagechang {
    display: flex;
    flex-direction: row;
}